
#root{

max-width: 1280px;
margin: 0 auto;
padding: 2 rem;
text-align: center;


}
.container{



max-width: 600px;
margin: 50px auto;
padding: 20px;
border: 1px solid #ddd;
border-radius: 10px;
background-color: #ddd;
text-align:center ;
font-family: sans-serif;

}


h1{

font-size: 24px;
margin-bottom: 20px;
color: black;

}

.file-input{

margin: 20px 0;

}

.file-input input{
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;

}
.upload-button{
background-color: blue;
color: white;
border: none;
border-radius: 5 px;
cursor: pointer;
font-size: 16p  x;
margin-top: 10 px;


}

.transcrption-result{ 
  color: black;
  border: none;
text-align: center;
  margin-top: 3 px;
  
  
  }
  .transcrption-result h2 { 
font-size:  20 px;
margin-bottom:10 px;
color: darkblue;
    
    
    }
    .transcrption-result p { 
 background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
          
          }